tmp/
example-logs/**/*.log
example-logs/**/*.log.*
example-logs/**/*.log-*
example-logs/**/*.backup
example-logs/**/*.gz
example-logs/**/*.gz.*
models/*/best/
models/*.backup/
models/test-*/
*.tmp
.train_meta
